@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url("../fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F7F7F7;
  padding: 60px 124px;
}

.wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: #3E3E3E;
  margin-bottom: 33px;
}

.navigation {
  display: block;
  max-width: 286px;
  height: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding-top: 33px;
  padding-left: 18px;
  padding-bottom: 30px;
  padding-right: 14px;
}

.navigation__title {
  padding-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
}

.navigation .nav-img {
  margin-right: 11px;
}

.navigation .main_nav {
  max-width: 256px;
  padding-top: 26px;
  padding-bottom: 42px;
  padding-left: 10px;
  border-top: 1px solid #ECECEC;
}

.navigation .nav__item {
  margin-bottom: 24px;
  padding-right: 10px;
}

.navigation .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3E3E3E;
}

.navigation .nav__link:hover {
  color: #259609;
}

.navigation .nav__link:hover .item__img path {
  stroke: #259609;
}

.navigation .subnav__items {
  margin-top: -14px;
}

.navigation .subnav__item:hover {
  background-color: #F2F2F2;
  border-radius: 3px;
  color: #259609;
}

.navigation .subnav__link {
  display: block;
  padding: 10px 12px;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.navigation .subnav__item:nth-child(4) {
  background-color: #ddEBDA;
  border-radius: 3px;
}

.navigation .subnav__item:nth-child(4) .subnav__link {
  color: #259609;
}

.navigation .nav__item:last-child a {
  color: #259609;
}

.navigation .nav__item:last-child a .item__img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation .nav__item:last-child a .item__img path {
  stroke: #259609;
}

.navigation .nav__btn {
  width: 256px;
  height: 44px;
  background-color: #FFFFFF;
  border: 1px solid #ddEBDA;
  border-radius: 3px;
  text-transform: uppercase;
  color: #259609;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.main_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
  height: auto;
}

.content {
  height: 100%;
}

.icon-plus-green {
  display: none;
}

.card__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 222px;
  height: 44px;
  margin-top: 11px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.card {
  width: 282px;
  padding: 30px;
  padding-top: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_course {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  border-top: 6px solid #259609;
  border-radius: 2px 2px 0px 0px;
}

.card_course-title {
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
  margin-bottom: 8px;
}

.card_course-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #3E3E3E;
  font-weight: 600;
  margin-bottom: 74px;
}

.card_course-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.card_course-status, .card_course-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3E3E3E;
}

.card-logo {
  margin-left: auto;
}

.card__btn {
  background-color: #259609;
  color: #FFFFFF;
}

.card-green {
  background-color: #259609;
  -webkit-box-shadow: 0px 22px 37px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 22px 37px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  position: relative;
}

.card-green__btn {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card-green-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 23px;
  font-weight: 600;
  max-width: 172px;
}

.card-green-duration, .card-green-period {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.card-green-duration .duration-title,
.card-green-duration .period-title, .card-green-period .duration-title,
.card-green-period .period-title {
  font-weight: 600;
}

.card-green-duration .period, .card-green-period .period {
  margin-bottom: 30px;
}

.card-green-price {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  margin-top: 30px;
}

.card-green-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card-green-icon {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.status,
.price {
  display: none;
}

.card-green:hover .card-green-icon path {
  fill-opacity: 0.7;
}

.card-green:hover .card-green__btn {
  background-color: #fff;
  color: #259609;
}

.card-green:hover .card-green-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.load__btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #3E3E3E;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.nav-burger {
  display: none;
  width: 282px;
  height: 52px;
  background-color: #F1F1F1;
  border-radius: 3px;
  padding: 16px 26px;
}

@media (max-width: 1140px) {
  .wrapper {
    padding: 60px 100px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 60px 60px;
  }
}

@media (max-width: 1100px) {
  .main_cards {
    gap: 12px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 60px 30px;
  }
  .main_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
  }
  .nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .navigation {
    display: none;
  }
}

.nav-burger-title {
  font-family: 'Raleway', sans-serif;
  margin-right: auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.nav-burger-title {
  margin-right: 10px;
}

.card_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

@media (max-width: 400px) {
  h1 {
    margin-bottom: 16px;
  }
  .main {
    gap: 20px;
  }
  .card_logo {
    margin-bottom: 12px;
  }
  .nav-burger {
    width: 329px;
  }
  .icon-plus-green {
    display: block;
  }
  .card_course-status,
  .card_course-period {
    display: none;
  }
  .card_course-subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper {
    padding: 16px;
    background-color: #fff;
  }
  .main_cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 330px;
    padding: 20px 25px;
  }
  .card-green {
    display: none;
  }
  .card__btns {
    width: 280px;
    height: 44px;
    margin-top: 14px;
  }
  .status,
  .price {
    display: block;
  }
  .status {
    font-size: 14px;
    line-height: 16px;
    color: #3E3E3E;
    margin-bottom: 58px;
  }
  .price {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3E3E3E;
  }
}
/*# sourceMappingURL=main.css.map */