doctype html 
html 
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Richbrains
    link(href="styles/style.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap" rel="stylesheet")

  body
    div.wrapper 
      h1 Find Your Course
      main.main 
        include ./components/navigation/nav.pug
        include ./components/cards/cards.pug

