- 
  var courses = [
    {id: '01',
    logo: './components/cards/icon/01logo.png',
    title: 'Business & Management',
    subtitle: "Master of Business Administration (CMI)",
    status: "Postgraduate",
    date: "Every 12 weeks",
    price: '£12,650',
    min: '',
    max: '' }, 
    {id: '02',
    logo: '',
    title: 'MSc Data Analytics and Information Systems Management',
    subtitle: "",
    status: "",
    date: "January, April, July, October",
    price: '£8,500',
    min: 'Minimum: 18 months',
    max: 'Maximum: 36 months'},
    {id: '03',
    logo: './components/cards/icon/03logo.png',
    title: 'Business & Management',
    subtitle: "Master of Business Administration (CMI)",
    status: "Postgraduate",
    date: "Every 12 weeks",
    price: '£12,650',
    min: '',
    max: '' },
    {id: '04',
    logo: '',
    title: 'MSc Data Analytics and Information Systems Management',
    subtitle: "",
    status: "",
    date: "January, April, July, October",
    price: '£8,500',
    min: 'Minimum: 18 months',
    max: 'Maximum: 36 months'},
    {id: '05',
    logo: './components/cards/icon/05logo.png',
    title: 'Business & Management',
    subtitle: "Master of Business Administration (CMI)",
    status: "Postgraduate",
    date: "Every 12 weeks",
    price: '£12,650',
    min: '',
    max: '' },
      {id: '06',
    logo: './components/cards/icon/06logo.png',
    title: 'Business & Management',
    subtitle: "Master of Business Administration (CMI)",
    status: "Postgraduate",
    date: "January, April, July, October, November",
    price: '£12,650',
    min: '',
    max: '' },
      ] 
