- var menu = ["Business & Management", "Computing & IT", "Fashion & Media", "Finance & Accounting", "Law & Criminology", "Marketing & Communications", "Psychology & Social Sciences"]
- var submenu = ["Market Research Executive", "Child Psychologist", "Guidance Counsellor",  "Behaviour Analyst", "Recreational Therapist"]

mixin menu(menu)
  ul.nav__items
    each item in menu
      li.nav__item: a.nav__link(href="#") #{item}
        svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg" class='item__img')
          path(d="M0.777344 11L5.77734 6L0.777343 1" stroke="#3E3E3E" stroke-linecap="round" stroke-linejoin="round")

mixin submenu(submenu)
  ul.subnav__items
    each item in submenu
      li.subnav__item: a.subnav__link(href="#") #{item}


include nav-burger.pug
.navigation 
  .navigation__title 
    img(src='./components/navigation/img/icon_education.svg' alt='logo' class='nav-img')
    p Careers
  nav.main_nav 
    +menu(menu)
    +submenu(submenu)
  button.nav__btn Show all programmes