@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 60px 124px;
}
.wrapper main {
  display: flex;
  gap: 14px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: #3e3e3e;
  margin-bottom: 33px;
}

.navigation {
  display: block;
  max-width: 286px;
  height: 80%;
  background-color: #fff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding-top: 33px;
  padding-left: 18px;
  padding-bottom: 30px;
  padding-right: 14px;
}
.navigation__title {
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
}
.navigation .nav-img {
  margin-right: 11px;
}
.navigation .main_nav {
  max-width: 256px;
  padding-top: 26px;
  padding-bottom: 42px;
  padding-left: 10px;
  border-top: 1px solid #ececec;
}
.navigation .nav__item {
  margin-bottom: 24px;
  padding-right: 10px;
}
.navigation .nav__link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3e3e3e;
}
.navigation .nav__link:hover {
  color: #259609;
}
.navigation .nav__link:hover .item__img path {
  stroke: #259609;
}
.navigation .subnav__items {
  margin-top: -14px;
}
.navigation .subnav__item:hover {
  background-color: #f2f2f2;
  border-radius: 3px;
  color: #259609;
}
.navigation .subnav__link {
  display: block;
  padding: 10px 12px;
  color: #3e3e3e;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.navigation .subnav__item:nth-child(4) {
  background-color: #ddebda;
  border-radius: 3px;
}
.navigation .subnav__item:nth-child(4) .subnav__link {
  color: #259609;
}
.navigation .nav__item:last-child a {
  color: #259609;
}
.navigation .nav__item:last-child a .item__img {
  transform: rotate(90deg);
}
.navigation .nav__item:last-child a .item__img path {
  stroke: #259609;
}
.navigation .nav__btn {
  width: 256px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ddebda;
  border-radius: 3px;
  text-transform: uppercase;
  color: #259609;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.main_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  height: auto;
}

.content {
  height: 100%;
}

.icon-plus-green {
  display: none;
}

.card__btns {
  flex: 0 0 auto;
  width: 222px;
  height: 44px;
  margin-top: 11px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.card {
  width: 282px;
  padding: 30px;
  padding-top: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card_course {
  background-color: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  border-top: 6px solid #259609;
  border-radius: 2px 2px 0px 0px;
}
.card_course-title {
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
  margin-bottom: 8px;
}
.card_course-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #3e3e3e;
  font-weight: 600;
  margin-bottom: 74px;
}
.card_course-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card_course-status,
.card_course-period {
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3e3e3e;
}
.card-logo {
  margin-left: auto;
}
.card__btn {
  background-color: #259609;
  color: #ffffff;
}
.card-green {
  background-color: #259609;
  box-shadow: 0px 22px 37px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  position: relative;
}
.card-green__btn {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.card-green-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 23px;
  font-weight: 600;
  max-width: 172px;
}
.card-green-duration,
.card-green-period {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
.card-green-duration .duration-title,
.card-green-duration .period-title,
.card-green-period .duration-title,
.card-green-period .period-title {
  font-weight: 600;
}
.card-green-duration .period,
.card-green-period .period {
  margin-bottom: 30px;
}
.card-green-price {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  margin-top: 30px;
}
.card-green-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.5s ease 0s;
}
.card-green-icon {
  transform: rotate(135deg);
}

.status,
.price {
  display: none;
}

.card-green:hover .card-green-icon path {
  fill-opacity: 0.7;
}

.card-green:hover .card-green__btn {
  background-color: #fff;
  color: #259609;
}

.card-green:hover .card-green-icon {
  transform: rotate(90deg);
}

.load__btn {
  margin: 0 auto;
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #3e3e3e;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
}

.nav-burger {
  display: none;
  width: 282px;
  height: 52px;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 16px 26px;
}

.nav-burger-title {
  font-family: "Raleway", sans-serif;
  margin-right: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.nav-burger-title {
  margin-right: 10px;
}

.card_logo {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

@media (max-width: 1140px) {
  .wrapper {
    padding: 60px 100px;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    padding: 60px 60px;
  }
}

@media (max-width: 1100px) {
  .main_cards {
    gap: 12px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 60px 30px;
  }

  .main_cards {
    flex-direction: column;
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .main_cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .nav-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .navigation {
    display: none;
  }
}

@media (max-width: 400px) {
  h1 {
    margin-bottom: 16px;
  }

  .main {
    gap: 20px;
  }

  .card_logo {
    margin-bottom: 12px;
  }

  .nav-burger {
    width: 329px;
  }

  .icon-plus-green {
    display: block;
  }

  .card_course-status,
  .card_course-period {
    display: none;
  }

  .card_course-subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }

  .wrapper {
    padding: 16px;
    background-color: #fff;
  }

  .main_cards {
    justify-content: center;
  }

  .card {
    width: 330px;
    padding: 20px 25px;
  }

  .card-green {
    display: none;
  }

  .card__btns {
    width: 280px;
    height: 44px;
    margin-top: 14px;
  }

  .status,
  .price {
    display: block;
  }

  .status {
    font-size: 14px;
    line-height: 16px;
    color: #3e3e3e;
    margin-bottom: 58px;
  }

  .price {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3e3e3e;
  }
}

/*# sourceMappingURL=style.css.map */
